/* General Styles */
.barcode-table {
    width: 100%;
    border-collapse: collapse;
}

.barcode-table th,
.barcode-table td {
    width: 70mm; /* Set cell width to 70mm */
    height: 37.1mm; /* Set cell height to 42mm */
    text-align: center;
    vertical-align: middle; /* Vertically center the content */
    padding: 0;
    box-sizing: border-box;
}

.barcode-image {
    max-width: 100%;
    height: auto;
}

/* Button Styling */
.print-button {
    margin: 10px 0;
}

@media print {
    /* Hide other elements not in printableArea */
    body * {
        visibility: hidden;
    }
    #printableArea, #printableArea * {
        visibility: visible;
    }
    #printableArea {
        position: absolute;
        left: 0;
        top: 0;
    }
}

